.loginstatus {
    display: flex;
    justify-content: center;
    background-color: lightblue;
    height: 30px;
    display: flex;
}

.message > h1 {
    height: 40px;
    display: flex;
    justify-content: center;
}

.message > a  {
    background-color: lightblue;
    height: 30px;
    display: flex;
    justify-content: center;
}

.addgroup > a  {
    background-color: lightblue;
    height: 30px;
    display: flex;
    justify-content: flex-start;
}

.name > h1 {
    display: flex;
    justify-content: center;
}

.box > h1 {
    display: flex;
    justify-content: center;
}

form {
    width: 50%;
    margin: 30px auto;
    border-radius: 5px;
    padding: 10px;
    background: #fff8dc;
    border: 1px solid #6b8e23;
}

.btn {
    border-radius: 10px;
    background: #fff8dc;
    border: 1px solid #6b8e23;
    height: 40px;
    padding: 5px 20px;
    cursor: pointer;
}

.uitgaves > h1 {
    display: flex;
    justify-content: center;
}